<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap" rel="stylesheet">
    <title>Contato</title>
</head>
<body>
    <div class="container">

        <div class="formulario">
            <form id="formularioDeContato">
                <label>Nome e Sobrenome</label>
                <input type="text" placeholder="Nome Completo" name="name" id="nome" required>
                
                <label>Email</label>
                <input type="email" name="email" placeholder="Endereço de Email" id="email" required>
              
                <label>Serviço</label>
                <input type="text" placeholder="Corte escolhido" id="mensagem" required>
        
                <label>Data Para o Corte</label required>
                <input type="date" id="data">
        
        
                <button type="submit" id="btn">Enviar</button>
           </form>
    
        </div>
    </div>


    <script src="js/respostas.js"></script>
</body>
</html>
